<?xml version='1.0'?>
<launch>
	<arg name="rviz_conf" default="config_rds"/>

	<node name="map_server" pkg="map_server" type="map_server" args="$(find au422_tp3)/maps/env_5cm.yaml"/>

	<node name="static_transform_publisher" pkg="tf" type="static_transform_publisher"
		args="0 0 0 0 0 0 /map /dummy_link 100"/>

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find au422_tp3)/config/$(arg rviz_conf).rviz"/>
</launch>
