<?xml version="1.0" ?>
<model>
    <name>B3_env</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Johvany Gustave</name>
        <email>johvany.gustave@ipsa.fr</email>
    </author>
    <description>Model used to represent the static obstacles of the environment</description>
</model>
